*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color:#4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
    --red-color:#ff0000;

}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;

}

ul {
    list-style: none;
}

.logo img {
    max-width: 100%;
    width: 50px;
    height: auto;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}


/*Navbar */


.navbar {
    background: #fff;
    padding: 20px;
}

.navbar {
    background: #fff;
    padding: 20px;
 }

 .navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .navbar .main-menu ul {
    justify-content: center;
 }

 .navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    margin-left: 100px;
 }
 .navbar ul li a:hover {
    color: var(--primary-color);
   
 }



 .navbar ul li:last-child a {
    margin-left: px;
 }


/* Utility classes */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}


/* Buttons */

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-red {
    background: var(--red-color);
    color: #fff;
}

.btn-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Hero */

.hero {
    margin-bottom: 50px;
}

.hero-heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 3rem;
    word-spacing: 10px;
    z-index: 1;
    position: relative;
    color: #fff;
}

.class {
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;

}

.hero-button {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.btn-primary {
    display: inline-block;
    padding: 13px 20px;
    background: #111;
    color: var(--light-color);
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-primary:hover {
    opacity: 0.8s;
}


/* Hero Animating */
.wavy {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.3));
    
}
.wavy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.05s * var(--i));
}
.wavy .space {
    display: inline-block;
    width: 15px;
}
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%,100% {
        transform: translateY(0px);
    }
}


/* Video */

.video {
    max-width: 100%; 
    max-height: 400px; 
    display: block;  
    margin: 20px auto;
    display: block;

}

.video-container {
    border-radius: 15px;
    margin: auto;
}

/* Testimonials */

.testimonials {
    padding: 40px 0;
}

.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 40px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(4), 1fr;
    gap: 30px;
}

.testimonial-topic {
    font-size: 1rem;  
    font-weight: 600;   
    margin-bottom: 10px;  
}

.testimonial-text {
    font-size: 1rem;  
    line-height: 1.5;
}

.testimonial-logo {
    width: 100px;
    height: 100px;
    margin-right: 82px;
    margin-left: 82px;
    margin-bottom: 50px;
    background-color:#fff;
    border-radius: 50%;
}
/* Card */

.card {
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

 


 

/* Testimonials */

.testimonials {
    padding: 40px 0;
    
}

.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 40px;
    font-size: 50px;
}

.testimonials-grid {
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}





/* Utility Classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-normal {
    width: 100%;
    min-height: 100vh;
    background: #000;
}



.container-normal h2 {
    color: #fff;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;

}
.price-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.price-column {
    background: #fff;
    padding: 10% 15%;
    border-radius: 10px;
    text-align: center;
}

.price-column p {
    font-size: 22px;
    font-weight: bold;
}
.price-column h3 {
    font-size: px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.price-column h3 span{
    font-size: 16px;
}

.price-column ul {
    text-align: left;
    margin: 20px 0;
}

.price-column ul li{
    margin: 25px 0;

}

.price-column button {
    width: 100%;
    padding: 14px 0;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 30px;
    background: var(--light-color);
    transition: 1s;

}

.price-column button:hover {
    background: #ff0000;
}



 /* Background */

 .bg-primary {
    background: var(--primary-color);
    color:#fff;
 }

 
 .bg-light{
    background: var(--light-color);
    color:#333;
 }

 
 .bg-dark {
    background: var(--dark-color);
    color:#fff;
 }

 /* Footer */ 
.footer {
    margin-top: 50px;
    background: #fff;
}

.footer h4 {
    margin-bottom: 10px;
    
    
}

.footer p {
    color: #fff;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color: #ccc;
}

.footer button {
    background: #4891ff;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: #000;
    
}

.footer .card {
    margin: 20px 30px 30px 0;
    background: #000;
    
}

.footer input[type='email'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}







/* Media Queries */

@media (max-width: 960px) {

    .testimonials-heading {
        font-size: 2rem;
        text-align: center;
    }

    .testimonials-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .testimonial-logo {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .testimonial-topic {
        font-size: 1.2rem;
    }

    .testimonial-text {
        font-size: 1rem;
    }

    .price-row {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer .card {
        padding: 15px;
    }

    .footer h4 {
        font-size: 18px;
    }

    .footer .social-icons {
        justify-content: center;
        margin-top: 20px;
    }
}


@media (max-width: 670px) {
    .hero-heading {
        font-size: 2.5rem;
    }

    .wavy span {
        font-size: 1.5rem;
    }

    .wavy .space {
        width: 10px;
    }

    .testimonials-heading {
        font-size: 2rem;
        text-align: center;
    }

    .testimonials-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .testimonial-logo {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .testimonial-topic {
        font-size: 1.2rem;
    }

    .testimonial-text {
        font-size: 1rem;
    }

    .price-row {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .price-column {
        padding: 15px;
    }

    .price-column h3 {
        font-size: 24px;
    }

    .price-column p {
        font-size: 18px;
    }

    .price-column ul li {
        font-size: 14px;
    }

    .price-column button {
        font-size: 14px;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }

    .footer h4 {
        font-size: 16px;
    }

    .footer p {
        font-size: 12px;
    }

    .footer .social-icons {
        justify-content: center;
        margin-top: 15px;
    }

    .footer .card input[type="email"] {
        padding: 10px;
    }

    .footer .card button {
        font-size: 14px;
    }

    .footer .social-icons i {
        font-size: 18px;
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .footer h4 {
        font-size: 14px;
    }

    .footer p {
        font-size: 12px;
    }

    .footer .card input[type="email"] {
        padding: 10px;
    }

    .footer .card button {
        font-size: 14px;
    }

    .footer .social-icons i {
        font-size: 16px;
    }
}
.text-xl {
    font-size: 3rem; 
    font-weight: 600;
}
